<head>
	<title>Welcome to your Profile!</title>
</head>
	<body>
		<div class="title">
            <h1>Welcome to your Profile!</h1>
        </div>
	<ul>
    <li><a href='/registeruser'>Register Here</a></li>
	<li><a href='/see_photos'>View your photos</a></li>
	<li><a href='/upload'>Upload a photo</a> </li> 
	<li><a href='/albums'>View your albums</a></li>
	<li><a href='/make_album'>Make an album</a></li>
	<li><a href='/find_friends'>Search for friends</a></li>
	<li><a href='/friend_list'>View friends</a></li>
	<li><a href='/tags'>Search for photos by tags!</a></li>
	<li><a href='/most_popular_tags'>View the most popular tags</a></li>
	<li><a href='/'>Home</a></li>



	</ul>
	</body>